Repository excetra-product-lab/chat_with_docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, npm-test

pytest:
  name: pytest
  entry: bash -c 'cd backend && if [ -f "pyproject.toml" ]; then PYTHONPATH=. uv run pytest; else PYTHONPATH=. python -m pytest; fi'
  language: system
  pass_filenames: false

npm-test:
  name: npm test
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

fix: resolve all pre-commit hook issues
  .gitignore
Due: none

fix: backend ci checks
  .github/workflows/backend-ci.yml
Due: none

Fix CI: Add uv.lock to repository for reproducible builds
  .gitignore
  backend/uv.lock
Due: none

fix: backend ci checks python formatting libraries
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix: auto-fix linting, import and formatting issues
  .github/workflows/auto-fix.yml
  .github/workflows/backend-ci.yml
  .pre-commit-config.yaml
  .secrets.baseline
  backend/.env.test
  backend/app/core/ingestion.py
  backend/pyproject.toml
  backend/uv.lock
Due: pytest

fix: front-end ci build stage
  .github/workflows/frontend-ci.yml
Due: none

fix: backend-end ci build stage
  .github/workflows/ci.yml
Due: none

exclude tsconfig.tsbuildinfo
  .github/workflows/frontend-ci.yml
  .gitignore
Due: none

Fix frontend CI build issues - Updated tsconfig.json with explicit path mappings - Modified api.ts export structure - Enhanced CI cache clearing
  .github/workflows/frontend-ci.yml
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
Due: npm-test

fix: front-end ci
  .github/workflows/README.md
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .gitignore
  frontend/.eslintrc.json
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.tsbuildinfo
  frontend/yarn.lock
Due: npm-test

fix: front-end ci
  package-lock.json
  package.json
  yarn.lock
Due: none

fix tsc errors
  .github/workflows/ci.yml
  .github/workflows/frontend-ci.yml
  frontend/package.json
Due: npm-test

Fix Frontend CI build failure - resolve module resolution issues
  .github/workflows/frontend-ci.yml
  .gitignore
  frontend/jsconfig.json
  frontend/lib/api.ts
  frontend/lib/index.ts
  frontend/next.config.js
  frontend/package.json
  frontend/tsconfig.json
Due: npm-test

Revert debug and hyper-specific changes from CI fix
  .github/workflows/frontend-ci.yml
  frontend/jsconfig.json
  frontend/lib/index.ts
  frontend/next.config.js
  frontend/package.json
  frontend/tsconfig.json
Due: npm-test

Update README.md
  README.md
Due: none

feat: implement document parsing & text extraction (EXCETRA-37)
  .secrets.baseline
  backend/app/api/routes/documents.py
  backend/app/core/settings.py
  backend/app/models/schemas.py
  backend/app/services/__init__.py
  backend/app/services/document_parser.py
  backend/app/services/document_processor.py
  backend/app/services/text_chunker.py
  backend/pyproject.toml
  backend/tests/test_api_documents.py
  backend/tests/test_document_parser.py
  backend/tests/test_document_processor.py
  backend/tests/test_text_chunker.py
  backend/uv.lock
Due: pytest

fix: resolve mypy type errors in backend
  backend/app/api/routes/documents.py
  backend/app/core/settings.py
Due: pytest

fix: update DATABASE_URL to avoid security scanner false positive
  backend/app/core/settings.py
Due: pytest

feat: Add comprehensive token counting with tiktoken integration
  backend/TIKTOKEN_COMPATIBILITY.md
  backend/app/api/routes/documents.py
  backend/app/models/schemas.py
  backend/app/services/document_parser.py
  backend/app/services/document_processor.py
  backend/app/utils/token_counter.py
  backend/pyproject.toml
  backend/tests/test_document_parser.py
  backend/tests/test_token_counter.py
  backend/uv.lock
Due: pytest

feat(langchain): Implement and test langchain document processor for EXCETRA-51
  .cursor/mcp.json
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/dev_workflow.mdc
  .cursor/rules/self_improve.mdc
  .cursor/rules/taskmaster.mdc
  .env.example
  .gitignore
  .roo/rules-architect/architect-rules
  .roo/rules-ask/ask-rules
  .roo/rules-boomerang/boomerang-rules
  .roo/rules-code/code-rules
  .roo/rules-debug/debug-rules
  .roo/rules-test/test-rules
  .roo/rules/dev_workflow.md
  .roo/rules/roo_rules.md
  .roo/rules/self_improve.md
  .roo/rules/taskmaster.md
  .roomodes
  .taskmasterconfig
  .windsurfrules
  backend/LANGCHAIN_CONFIG.md
  backend/LANGCHAIN_TESTING.md
  backend/app/core/langchain_config.py
  backend/app/core/settings.py
  backend/app/services/document_processor.py
  backend/app/services/langchain_document_processor.py
  backend/examples/langchain_document_example.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_api_documents.py
  backend/tests/test_document_processor.py
  backend/tests/test_langchain_document_processor.py
  backend/tests/test_langchain_utilities.py
  backend/uv.lock
Due: pytest

fix(tests): resolve all outstanding CI test failures
  backend/tests/test_api_documents.py
  backend/tests/test_document_processor.py
  scripts/example_prd.txt
  scripts/prd.txt
  scripts/task-complexity-report.json
Due: pytest

feat(EXCETRA-52): Implement PDF and Word document text extraction
  .gitignore
  .pre-commit-config.yaml
  backend/app/core/logger_config.py
  backend/app/main.py
  backend/app/services/document_parser.py
  backend/app/services/document_processor.py
  backend/app/services/langchain_document_processor.py
  backend/app/services/langchain_imports.py
  backend/app/services/metadata_repository.py
  backend/pyproject.toml
  backend/tests/test_error_handling_and_logging.py
  backend/uv.lock
Due: pytest

chore: apply formatting fixes from pre-commit
  .flake8
  backend/app/services/langchain_document_processor.py
  backend/pyproject.toml
  backend/tests/test_error_handling_and_logging.py
Due: pytest

chore: shorten long lines to satisfy 100-char CI limit
  backend/app/services/langchain_document_processor.py
  backend/tests/test_error_handling_and_logging.py
Due: pytest

chore: wrap remaining long lines under 100 chars
  backend/app/services/langchain_document_processor.py
Due: pytest

chore: format LangchainDocumentProcessor with Black after type fixes
  backend/app/services/langchain_document_processor.py
Due: pytest

style: wrap chardet detection line under 100 chars to satisfy flake8 E501
  backend/app/services/langchain_document_processor.py
Due: pytest

[EXCETRA-39] Implement file upload API
  README.md
  backend/.cursor/rules/python-best-practices.mdc
  backend/.cursor/rules/python-fastapi-api.mdc
  backend/README.md
  backend/app/api/routes/documents.py
  backend/app/core/settings.py
  backend/app/models/schemas.py
  backend/app/services/supabase_file_service.py
  backend/pyproject.toml
  backend/tests/test_api_documents.py
  backend/tests/test_supabase_file_service.py
  backend/uv.lock
Due: pytest

EXCETRA-36] Implement file upload API
  .github/workflows/ci.yml
  .markdownlint.yaml
  .pre-commit-config.yaml
  README.md
  backend/.cursor/rules/python-best-practices.mdc
  backend/.cursor/rules/python-fastapi-api.mdc
  backend/README.md
  backend/app/api/routes/documents.py
  backend/app/core/ingestion.py
  backend/app/core/langchain_config.py
  backend/app/core/qna.py
  backend/app/core/settings.py
  backend/app/core/vectorstore.py
  backend/app/models/schemas.py
  backend/app/services/document_parser.py
  backend/app/services/document_processor.py
  backend/app/services/langchain_document_processor.py
  backend/app/services/supabase_file_service.py
  backend/app/services/text_chunker.py
  backend/app/utils/security.py
  backend/app/utils/token_counter.py
  backend/pyproject.toml
  backend/tests/conftest.py
  backend/tests/test_api_documents.py
  backend/tests/test_document_parser.py
  backend/tests/test_document_processor.py
  backend/tests/test_langchain_document_processor.py
  backend/tests/test_langchain_utilities.py
  backend/tests/test_supabase_file_service.py
  backend/tests/test_text_chunker.py
  backend/uv.lock
Due: pytest

fix: simple cleanup
  .cursor/Dockerfile
  .cursor/rules/cursor_rules.mdc
  .cursor/rules/self_improve.mdc
Due: none

feat(frontend): Complete Next.js migration and implement new design system
  .gitignore
  new-frontend/.cursor/mcp.json
  new-frontend/.cursor/rules/cursor_rules.mdc
  new-frontend/.cursor/rules/self_improve.mdc
  new-frontend/.cursor/rules/taskmaster/dev_workflow.mdc
  new-frontend/.cursor/rules/taskmaster/taskmaster.mdc
  new-frontend/.env.example
  new-frontend/.taskmaster/config.json
  new-frontend/.taskmaster/reports/task-complexity-report.json
  new-frontend/.taskmaster/state.json
  new-frontend/.taskmaster/templates/example_prd.txt
  new-frontend/app/chat/page.tsx
  new-frontend/app/globals.css
  new-frontend/app/layout.tsx
  new-frontend/app/page.tsx
  new-frontend/app/upload/page.tsx
  new-frontend/eslint.config.js
  new-frontend/next-env.d.ts
  new-frontend/next.config.js
  new-frontend/package-lock.json
  new-frontend/package.json
  new-frontend/postcss.config.js
  new-frontend/prd.md
  new-frontend/src/components/ChatInterface.tsx
  new-frontend/src/components/CitationTag.tsx
  new-frontend/src/components/DocumentLibrary.tsx
  new-frontend/src/components/DocumentUpload.tsx
  new-frontend/src/components/LandingPage.tsx
  new-frontend/src/components/Layout/ClientLayout.tsx
  new-frontend/src/components/Layout/Navigation.tsx
  new-frontend/src/components/MessageBubble.tsx
  new-frontend/src/context/AppContext.tsx
  new-frontend/src/lib/api.ts
  new-frontend/src/types/index.ts
  new-frontend/tailwind.config.js
  new-frontend/tsconfig.json
Due: none

fix(frontend): resolve CI workflow issues and fix TypeScript errors
  frontend/.eslintrc.json
  frontend/eslint.config.js
  frontend/package-lock.json
  frontend/src/components/DocumentLibrary.tsx
  frontend/src/components/DocumentTable.tsx
Due: npm-test

Updated upload api to handle chunking and db updates
  backend/app/api/routes/documents.py
  backend/app/core/settings.py
  backend/app/core/vectorstore.py
  backend/app/models/database.py
  backend/app/models/schemas.py
  backend/app/services/embedding_service.py
  backend/app/services/supabase_file_service.py
  backend/tests/test_api_documents.py
Due: pytest

feat: Complete PDF and Word document text extraction implementation
  REFACTORING_SUMMARY.md
  backend/app/core/settings.py
  backend/app/services/document_loaders/__init__.py
  backend/app/services/document_loaders/base_loader.py
  backend/app/services/document_loaders/pdf_loader.py
  backend/app/services/document_loaders/text_loader.py
  backend/app/services/document_loaders/word_loader.py
  backend/app/services/document_processor.py
  backend/app/services/document_splitters/__init__.py
  backend/app/services/document_splitters/document_splitter.py
  backend/app/services/document_transformers/__init__.py
  backend/app/services/document_transformers/document_transformer.py
  backend/app/services/langchain_document_processor_refactored.py
  backend/app/utils/encoding_utils.py
  backend/app/utils/pdf_utils.py
  backend/pyproject.toml
  backend/tests/test_error_handling_and_logging.py
  backend/uv.lock
Due: pytest

chore: Update uv.lock after merge
  backend/uv.lock
Due: none

chore(docs): updating cursor rules
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
Due: none

chore(git): updating git ignore for local changes
  .gitignore
Due: none

Path conditions:
  pytest: any of: ^backend/.*\.py$
  npm-test: any of: ^frontend/
