Repository excetra-product-lab/chat_with_docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, npm-test

pytest:
  name: pytest
  entry: bash -c 'cd backend && if [ -f "pyproject.toml" ]; then PYTHONPATH=. uv run pytest; else PYTHONPATH=. python -m pytest; fi'
  language: system
  pass_filenames: false

npm-test:
  name: npm test
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

feat: ✨ implement comprehensive error handling for RAG pipeline
  backend/app/core/error_handler.py
  backend/app/core/exceptions.py
  backend/app/core/logging_config.py
  backend/app/core/qna.py
  backend/app/main.py
Due: pytest

feat: ✨ add system prompt templates and corresponding tests for RAG-based QA
  backend/app/core/prompts.py
  backend/tests/test_langchain_config.py
  backend/tests/test_prompts.py
  backend/tests/test_qna.py
Due: pytest

feat: ✨ enhance RAG pipeline with document filtering and limit parameters
  backend/app/api/routes/chat.py
  backend/app/core/qna.py
  backend/app/models/schemas.py
  backend/pyproject.toml
  backend/tests/test_langchain_config.py
  backend/tests/test_prompts.py
  backend/tests/test_qna.py
Due: pytest

feat: ✅ refactor RAG pipeline and remove ingestion module
  backend/app/api/routes/chat.py
  backend/app/core/ingestion.py
  backend/app/core/rag_pipeline.py
  backend/app/models/schemas.py
  backend/tests/test_ingestion.py
  backend/tests/test_rag_pipeline.py
Due: pytest

refactor: 💚 improve code consistency and readability across multiple modules
  backend/app/api/routes/chat.py
  backend/app/core/error_handler.py
  backend/app/core/exceptions.py
  backend/app/core/logging_config.py
  backend/app/core/prompts.py
  backend/app/core/rag_pipeline.py
  backend/app/main.py
  backend/tests/test_integration_rag_pipeline.py
  backend/tests/test_langchain_config.py
  backend/tests/test_prompts.py
  backend/tests/test_rag_pipeline.py
  backend/tests/test_real_openai_integration.py
Due: pytest

refactor: 🧹 remove unnecessary whitespace in prompts.py for improved code clarity
  backend/app/core/prompts.py
Due: pytest

chore: updated cursor rules
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
Due: none

feat(eval): Add comprehensive RAG evaluation system with intelligent question matching
  .gitignore
  EVALUATION_SYSTEM.md
  eval/README.md
  eval/docs/README.md
  eval/docs/evaluation_guide.md
  eval/run_evaluation.sh
  eval/scripts/evaluate_rag.py
  eval/scripts/run_evaluation.sh
  eval/scripts/setup_legalbench_data.py
  eval/services/__init__.py
  eval/services/evaluation_service.py
Due: none

fix: resolve mypy type checking errors and async issues in CI
  backend/app/api/routes/documents.py
  backend/app/services/document_processor.py
  backend/app/services/enhanced_document_service.py
  backend/app/services/langchain_pipeline.py
Due: pytest

fix: resolve all 186 mypy type checking errors across 21 files
  backend/app/core/error_reporter.py
  backend/app/services/document_loaders/word_loader.py
  backend/app/services/document_splitters/document_splitter.py
  backend/app/services/document_structure_detector/data_models.py
  backend/app/services/document_structure_detector/heading_detector.py
  backend/app/services/document_structure_detector/numbering_systems.py
  backend/app/services/document_structure_detector/pattern_handlers.py
  backend/app/services/document_transformers/document_transformer.py
  backend/app/services/enhanced_vectorstore.py
  backend/app/services/langchain_pipeline.py
  backend/app/services/layout_tree/layout_tree.py
  backend/app/services/layout_tree/metadata_manager.py
  backend/app/services/layout_tree/tree_builder.py
  backend/app/services/layout_tree/tree_node.py
  backend/app/services/metadata_repository.py
Due: pytest

fix: restore get_headings method to detect both Heading instances and DocumentElement with HEADING type
  backend/app/services/document_structure_detector/data_models.py
Due: pytest

fix: resolve all MyPy type annotation errors and enable type checking in pre-commit
  .pre-commit-config.yaml
  backend/app/core/error_reporter.py
  backend/app/models/hierarchy_models.py
  backend/app/models/langchain_models.py
  backend/app/services/document_loaders/word_loader.py
  backend/app/services/document_structure_detector/heading_detector.py
  backend/app/services/document_structure_detector/numbering_systems.py
  backend/app/services/document_structure_detector/structure_detector.py
  backend/app/services/enhanced_vectorstore.py
  backend/app/services/hierarchical_chunker.py
  backend/app/services/langchain_pipeline.py
  backend/app/services/layout_tree/tree_builder.py
  backend/app/utils/token_counter.py
Due: pytest

fix: resolve MyPy type checking errors in CI
  backend/app/api/routes/documents.py
  backend/app/services/document_splitters/document_splitter.py
  backend/app/services/enhanced_vectorstore.py
  backend/app/services/layout_tree/metadata_manager.py
Due: pytest

fix: resolve remaining MyPy errors in enhanced_vectorstore.py
  backend/app/services/enhanced_vectorstore.py
Due: pytest

fix: resolve dict type issues in hierarchy_element metadata
  backend/app/services/enhanced_vectorstore.py
Due: pytest

fix: remove unused computed values in document processing
  backend/app/services/document_loaders/word_loader.py
  backend/app/services/document_structure_detector/heading_detector.py
  backend/app/services/enhanced_document_service.py
Due: pytest

Improve text chunking with robust validation and advanced sentence splitting
  backend/app/services/text_chunker.py
Due: pytest

Apply pre-commit formatting and fix test validation logic
  backend/app/api/routes/auth.py
  backend/app/api/routes/chat.py
  backend/app/api/routes/documents.py
  backend/app/core/qna.py
  backend/app/main.py
  backend/app/models/schemas.py
  backend/app/services/hierarchical_chunker.py
  backend/app/services/text_chunker.py
  backend/tests/test_document_processor.py
  eval/scripts/fix_character_positions.py
  eval/scripts/fixed_sample_benchmark.json
  eval/scripts/setup_legalbench_data.py
  eval/services/evaluation_service.py
  frontend/src/types/index.ts
Due: pytest, npm-test

Fix CI failures: Update type signatures to use number IDs
  backend/app/api/routes/documents.py
  frontend/app/upload/page.tsx
  frontend/src/components/DocumentLibrary.tsx
  frontend/src/components/DocumentTable.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/hooks/useDocuments.ts
Due: pytest, npm-test

docs: improve README chunking documentation with clearer diagrams and examples
  README.md
Due: none

fix: resolve Mermaid diagram parse error in Stage 2 chunking diagram
  README.md
Due: none

update README
  README.md
Due: none

Enable upload API with Clerk authentication integration
  .cursor/rules/clerk-for-next.mdc
  .github/workflows/backend-ci.yml
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  backend/Makefile
  backend/app/api/dependencies.py
  backend/app/api/routes/auth.py
  backend/app/api/routes/documents.py
  backend/app/core/qna.py
  backend/app/core/settings.py
  backend/app/core/vectorstore.py
  backend/app/models/database.py
  backend/app/models/schemas.py
  backend/app/utils/clerk_auth.py
  backend/pyproject.toml
  backend/tests/test_api_documents.py
  backend/uv.lock
  frontend/app/upload/page.tsx
  frontend/middleware.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Layout/ClientLayout.tsx
  frontend/src/components/Layout/Navigation.tsx
  frontend/src/hooks/useDocuments.ts
  frontend/src/services/uploadApi.ts
  frontend/src/types/index.ts
Due: pytest, npm-test

Update database models and add RLS policies
  backend/app/models/__init__.py
  backend/app/models/database.py
  backend/app/models/schemas.py
  backend/docs/post-mvp-error-handling.md
Due: pytest

feat: Complete frontend-backend API integration with comprehensive testing
  .taskmaster/config.json
  .taskmaster/state.json
  backend/API_INTEGRATION_GUIDE.md
  frontend/.env.example
  frontend/app/chat/page.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/MessageBubble.tsx
  frontend/src/hooks/useDocuments.ts
  frontend/src/test/chat.test.tsx
  frontend/src/test/setup.ts
  frontend/src/types/index.ts
  frontend/vitest.config.ts
Due: npm-test

feat: Implement comprehensive error handling system
  frontend/app/chat/page.tsx
  frontend/app/upload/page.tsx
  frontend/src/components/ErrorBoundary/ChatErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/DocumentErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/ErrorBoundary.tsx
  frontend/src/components/ErrorBoundary/index.ts
  frontend/src/components/Layout/ClientLayout.tsx
  frontend/src/context/ErrorContext.tsx
Due: npm-test

feat: Enhance document and chat interfaces with loading states and toast notifications
  frontend/app/chat/page.tsx
  frontend/app/upload/page.tsx
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/DocumentLibrary.tsx
  frontend/src/components/DocumentTable.tsx
  frontend/src/components/DocumentUpload.tsx
  frontend/src/components/Layout/ClientLayout.tsx
  frontend/src/components/Loading/LoadingSpinner.tsx
  frontend/src/components/Loading/ProgressBar.tsx
  frontend/src/components/Loading/SkeletonLoader.tsx
  frontend/src/components/Loading/index.ts
  frontend/src/components/Toast/Toast.tsx
  frontend/src/components/Toast/ToastContainer.tsx
  frontend/src/components/Toast/index.ts
  frontend/src/context/ToastContext.tsx
  frontend/src/types/index.ts
Due: npm-test

feat: Add database table creation script and update chat document status handling
  backend/create_tables.py
  frontend/app/chat/page.tsx
  frontend/src/components/Toast/Toast.tsx
Due: pytest, npm-test

chore: Update TypeScript version and enhance README with environment variable setup
  .gitignore
  README.md
  frontend/package.json
  frontend/src/components/Layout/ClientLayout.tsx
  frontend/src/test/api.test.ts
  frontend/src/test/chat.test.tsx
  frontend/src/test/env-validation.test.ts
  frontend/src/test/errorHandler.test.ts
  frontend/src/test/setup.ts
  frontend/src/test/uploadApi.test.ts
  frontend/src/test/useDocuments.test.ts
  frontend/src/test/utils.ts
  frontend/vitest.config.ts
  package-lock.json
  package.json
  yarn.lock
Due: npm-test

chore: Remove database table creation script
  backend/create_tables.py
Due: pytest

test: fix the hook tests
  frontend/src/test/uploadApi.test.ts
  frontend/src/test/useDocuments.test.ts
Due: npm-test

chore: added back lib from .gitignore
  .gitignore
  frontend/src/components/Layout/ClientLayout.tsx
  frontend/src/lib/api.ts
  frontend/src/lib/env-validation.ts
  frontend/src/lib/errorHandler.ts
Due: npm-test

chore: update node version to 20.x+
  .github/workflows/frontend-ci.yml
Due: none

chore: update tests, settings and improve environment validation
  backend/app/core/settings.py
  backend/tests/test_api_documents.py
  frontend/middleware.ts
  frontend/next-env.d.ts
  frontend/package.json
  frontend/src/components/DocumentTable.tsx
  frontend/src/components/DocumentUpload.tsx
  frontend/src/components/Layout/ClientLayout.tsx
  frontend/src/hooks/useDocuments.ts
  frontend/src/lib/env-validation.ts
  frontend/src/test/env-validation.test.ts
Due: pytest, npm-test

fix: update Azure OpenAI settings and improve document handling
  backend/app/core/langchain_config.py
  backend/app/core/settings.py
  backend/app/services/embedding_service.py
  frontend/app/upload/page.tsx
  frontend/middleware.ts
  frontend/src/components/DocumentUpload.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/hooks/useDocuments.ts
  frontend/src/lib/api.ts
  frontend/src/services/uploadApi.ts
  frontend/src/test/api.test.ts
  frontend/src/test/uploadApi.test.ts
  frontend/src/test/useDocuments.test.ts
  frontend/src/test/utils.ts
Due: pytest, npm-test

fix: update Azure OpenAI initialization to include embedding deployment validation
  backend/app/services/embedding_service.py
Due: pytest

Add file size to models
  backend/app/api/routes/documents.py
  backend/app/models/database.py
  backend/app/models/schemas.py
  backend/app/services/supabase_file_service.py
  backend/tests/test_api_documents.py
  backend/tests/test_supabase_file_service.py
Due: pytest

chore: .gitignore to include local.md for local configuration
  .gitignore
Due: none

Path conditions:
  pytest: any of: ^backend/.*\.py$
  npm-test: any of: ^frontend/
