Repository excetra-product-lab/chat_with_docs: changes, and which pre-commit hooks are due for each by the changed paths.
All: backend-ci, npm-test

backend-ci:
  name: backend ci
  entry: bash -c 'cd backend && make ci'
  language: system
  pass_filenames: false
  stages:
  - pre-push

npm-test:
  name: npm test
  entry: bash -c 'cd frontend && npm test'
  language: system
  pass_filenames: false
  stages:
  - pre-push

chore: updating .gitignore to retrigger pipelines
  .gitignore
Due: none

ci: fixing stuck pipeline
  .github/workflows/backend-ci.yml
Due: none

feat: implement functional chat endpoint using existing RAG infrastructure
  backend/app/api/routes/chat.py
Due: backend-ci

feat: comprehensive chat improvements with persistent history
  frontend/app/chat/page.tsx
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatHistory.tsx
  frontend/src/components/MessageBubble.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/hooks/useChatHistory.ts
  frontend/src/types/index.ts
Due: npm-test

chore: next changes
  frontend/next-env.d.ts
Due: npm-test

chore: ironing out ci checks
  backend/app/api/routes/chat.py
  run-ci-local.sh
Due: backend-ci

fix: updted local ci script to be represnetative
  run-ci-local.sh
Due: none

fix: general bug fixes and improments (#23)
  backend/app/api/routes/chat.py
  frontend/app/chat/page.tsx
  frontend/next-env.d.ts
  frontend/next.config.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ChatHistory.tsx
  frontend/src/components/ChatInterface.tsx
  frontend/src/components/MessageBubble.tsx
  frontend/src/context/AppContext.tsx
  frontend/src/hooks/useChatHistory.ts
  frontend/src/types/index.ts
  frontend/tailwind.config.js
  run-ci-local.sh
Due: backend-ci, npm-test

Path conditions:
  backend-ci: any of: ^backend/
  npm-test: any of: ^frontend/
